.sub-container1 {
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}
.sub-container2 {
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}
.form-container-main {
  padding: 80px 0px;
}
.image-container img {
  height: 18px;
}
.addrress-container {
  padding: 0 100px;
}
.image-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .addrress-container {
    padding: 0 30px;
  }
}
